body{
    list-style:none;
    font-family: 'Raleway', sans-serif;
}

h1{
    color:#FFF;
    font-size:60px;
}

h2{
    font-size:50px;
    margin-bottom: 40px;
}

h3{color:#FFF;}







#spot{
    background:#000;
    padding:250px 0;
    height:700px;
}




#portfolio{padding: 80px 0;}

.project{border-bottom:1px solid #000; margin-bottom:50px;}

.project p{font-weight:bold; font-size:18px;}

.project li{font-color:#333;}

.project .icons{height:50px; cursor:pointer;}

.project i{
    font-size:25px;
    padding: 0px 5px;
}

.project .event{
    color:#333;
    height:35px;
    font-size:12px;
}


.project .btn{
    border:3px solid #000; 
    padding:5px 50px; 
    border-radius:0px; 
    color:#000; 
    transition:0.5s;
    margin-bottom:15px;
}

.project .btn:hover{
    background:#000;
    color:#FFF;
}



