body{
    list-style:none;
    font-family: 'Raleway', sans-serif;
}

h1{
    color:#FFF;
    font-size:60px;
}

h2{
    font-size:50px;
    margin-bottom: 40px;
}

h3{color:#FFF;}

.progress-bar{background-color:#333;}






header{
    background: #000;
    height:60px;
    padding:20px 0;
}

header li{
    padding: 0 20px;
    display:inline-block;
}

header li a{
    color:#FFF;
    font-size:14px;
    transition:0.5s;
}

header li a:hover{
    color:#FFF;
}





#spot{
    background:#000;
    padding:200px 0;
    height:600px;
}




#skill{
    padding:40px 0;
}

#skill div{margin-bottom:50px;}

#skill p{
    font-weight:bold;
    font-size:18px;
}

#skill p i{font-size:50px;}







#portfolio{
    background:#000;
    padding: 40px 0;
    height:400px;
}

.project{
    background:#FFF;
    padding:20px;
}


